.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 12px;
}

.gallery-item {
  display: flex;
  width: 350px;
  border-radius: 4px;
  overflow: hidden;

  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition:
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.gallery-image {
  height: 100%;
  object-fit: cover;
}
